@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Gotham Rounded;
  src: url(../fonts/gothamrounded-light.otf);
}
@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Regular.ttf);
}
@font-face {
  font-family: Proxima Nova-Semibold;
  src: url(../fonts/ProximaNova-Semibold.ttf);
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100%;
}

.header {
  padding: 0 10px 0 0;
}
.header__bg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.header__top {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .header__top {
    padding-top: 20px;
  }
}
.header__logo-text {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  margin-left: 13px;
}
.header__main {
  padding: 0 20px;
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);
}
@media (max-width: 768px) {
  .header__main {
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;
  }
}
@media (max-width: 410px) {
  .header__main {
    min-width: 300px;
  }
}
.header__title h1 {
  color: #f6f9fa;
  font-family: "Gotham Rounded";
  font-size: 48px;
  font-weight: 300;
  line-height: 57px;
  max-width: 495px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .header__title h1 {
    font-size: 38px;
    line-height: 38px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .header__title h1 {
    font-size: 28px;
    line-height: 28px;
  }
}
.header__text p {
  color: #f6f9fa;
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  max-width: 590px;
  padding-bottom: 36px;
}
@media (max-width: 768px) {
  .header__text p {
    padding-bottom: 26px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .header__text p {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .header__button {
    text-align: center;
  }
}
.header__button a {
  display: inline-block;
  color: #f6f9fa;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 21px 37px;
  letter-spacing: 1.4px;
  border: 2px solid #fff;
  transition: all 0.5s ease;
}
@media (max-width: 768px) {
  .header__button a {
    padding: 16px 32px;
  }
}
@media (max-width: 350px) {
  .header__button a {
    padding: 12px 28px;
  }
}
.header__button a:hover {
  background-color: #fff;
  color: #000;
}

.services-bg {
  background-color: #f6f6f6;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1150px) {
  .services-bg {
    padding-bottom: 70px;
  }
}
@media (max-width: 1100px) {
  .services-bg {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .services-bg {
    padding-bottom: 50px;
  }
}

.services__main {
  max-width: 400px;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 5;
}
@media (max-width: 1150px) {
  .services__main {
    padding-top: 90px;
    padding-bottom: 90px;
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .services__main {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.services__title h2 {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
@media (max-width: 1150px) {
  .services__title h2 {
    font-size: 43px;
  }
}
@media (max-width: 768px) {
  .services__title h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.services__text p {
  color: #888888;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1150px) {
  .services__text p {
    font-size: 14px;
  }
}
.services__rhomb-container {
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  left: 52%;
  top: 0;
  padding-top: 500px;
}
@media (max-width: 1150px) {
  .services__rhomb-container {
    position: relative;
    padding-top: 0;
    top: -550px;
    left: 50%;
    margin-bottom: -10px;
    transform: rotate(-45deg) translateX(-50%);
  }
}
@media (max-width: 1050px) {
  .services__rhomb-container {
    top: -500px;
    left: 47%;
  }
}
@media (max-width: 950px) {
  .services__rhomb-container {
    top: -410px;
    left: 45%;
    margin-bottom: 0px;
  }
}
@media (max-width: 850px) {
  .services__rhomb-container {
    top: -360px;
    left: 42%;
  }
}
@media (max-width: 768px) {
  .services__rhomb-container {
    transform: rotate(0) translateY(0);
    position: relative;
    top: 0;
    left: 0;
  }
}
.services__row {
  display: flex;
}
@media (max-width: 768px) {
  .services__row {
    justify-content: center;
  }
}
.services__rhomb {
  width: 115px;
  height: 115px;
  background: #fff;
  margin: 3px;
  text-align: center;
  position: relative;
  transition: 0.5s all ease;
}
@media (max-width: 1100px) {
  .services__rhomb {
    border-radius: 10px;
  }
}
@media (max-width: 410px) {
  .services__rhomb {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 370px) {
  .services__rhomb {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 350px) {
  .services__rhomb {
    width: 90px;
    height: 90px;
  }
}
.services__rhomb:hover {
  background: #28282e;
  transform: scale(1.04);
  border-radius: 10px;
}
@media (max-width: 764px) {
  .services__rhomb:hover {
    background: #fff;
    transform: none;
    border-radius: none;
  }
}
.services__rhomb:hover .services__rhomb-info a {
  color: #fff;
}
.services__rhomb a {
  display: block;
  height: 100%;
}
.services__rhomb_transparent {
  background-color: transparent;
}
@media (max-width: 768px) {
  .services__rhomb_transparent {
    width: 0;
    height: 0;
    margin: 0;
  }
}
.services__rhomb_transparent:hover {
  background: transparent;
  transform: scale(0);
}
.services__rhomb-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  min-width: 100%;
  z-index: 5;
}
@media (max-width: 768px) {
  .services__rhomb-info {
    transform: translate(0, -50%) rotate(0);
    top: 50%;
    left: 0;
    right: 0;
    padding: 0px 5px;
  }
}
.services__rhomb-image {
  margin-bottom: 10px;
}
.services__rhomb-image a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.services__rhomb-name a {
  padding: 0 5px;
  color: #474747;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.4s all ease;
}
@media (max-width: 1200px) {
  .services__rhomb-name a {
    font-size: 10px;
  }
}

.works {
  display: flex;
  justify-content: flex-start;
  padding: 120px 0;
}
@media (max-width: 1150px) {
  .works {
    padding: 90px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .works {
    padding: 50px 0;
  }
}
.works__title {
  flex-basis: 50%;
}
.works__title h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 53px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5;
  margin-bottom: 30px;
}
@media (max-width: 1150px) {
  .works__title h2 {
    font-size: 43px;
  }
}
@media (max-width: 768px) {
  .works__title h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.works__text {
  flex-basis: 50%;
}
.works__text p {
  color: #888888;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 435px;
}
@media (max-width: 1150px) {
  .works__text p {
    font-size: 14px;
  }
}

.project-bg {
  background-color: #5f5f6e;
  position: relative;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 150px 0;
}
@media (max-width: 900px) {
  .project {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
  }
}
@media (max-width: 768px) {
  .project {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.project__info {
  flex: 0 0 50%;
}
.project__title h2 {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 53px;
  font-weight: 700;
  letter-spacing: 1.5;
  margin-bottom: 30px;
}
@media (max-width: 1150px) {
  .project__title h2 {
    font-size: 43px;
  }
}
@media (max-width: 768px) {
  .project__title h2 {
    font-size: 36px;
  }
}
.project__text p {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 70px;
  max-width: 410px;
}
@media (max-width: 1150px) {
  .project__text p {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .project__text p {
    margin-bottom: 20px;
  }
}
.project__button a {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  padding: 20px 28px;
  border: 2px solid #f6f6f6;
  display: inline-block;
  transition: all 0.5s ease;
}
@media (max-width: 900px) {
  .project__button a {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .project__button a {
    padding: 16px 32px;
  }
}
@media (max-width: 350px) {
  .project__button a {
    padding: 12px 28px;
  }
}
.project__button a:hover {
  background-color: #fff;
  color: #000;
}

.tabs-container {
  flex-basis: 50%;
  text-align: center;
  position: relative;
}

#tab_01:before,
#tab_02:before,
#tab_03:before {
  display: block;
  content: "";
  height: 100px;
  margin: -100px 0 0;
}
@media (max-width: 900px) {
  #tab_01:before,
#tab_02:before,
#tab_03:before {
    height: 150px;
    margin: -150px 0 0;
  }
}

.tabs__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 1150px) {
  .tabs__items {
    top: 320px;
  }
}
@media (max-width: 900px) {
  .tabs__items {
    top: 320px;
  }
}
.tabs__item {
  padding: 0px 10px 0 10px;
  transition: 0.5s all ease;
}
@media (max-width: 450px) {
  .tabs__item input {
    max-height: 35px;
  }
}
.tabs__item:hover {
  transform: scale(1.05);
}
.tabs__block {
  display: none;
}
.tabs__block img {
  height: 300px;
  width: auto;
}
@media (max-width: 1150px) {
  .tabs__block img {
    height: 240px;
  }
}
@media (max-width: 450px) {
  .tabs__block img {
    height: 170px;
  }
}
.tabs__block:target {
  display: block;
}

.read {
  min-height: 100vh;
  padding-top: 120px;
}
@media (max-width: 900px) {
  .read {
    padding-top: 50px;
  }
}
@media (max-width: 900px) {
  .read {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .read {
    padding-top: 50px;
  }
}
.read__top {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1150px) {
  .read__top {
    margin-bottom: 50px;
  }
}
@media (max-width: 900px) {
  .read__top {
    flex-direction: column;
    text-align: center;
    max-width: 435px;
    margin: 0 auto;
  }
}
.read__title {
  flex-basis: 50%;
}
.read__title h2 {
  color: #333333;
  font-family: "Open Sans";
  font-size: 53px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5;
  margin-bottom: 30px;
}
@media (max-width: 1150px) {
  .read__title h2 {
    font-size: 43px;
  }
}
@media (max-width: 900px) {
  .read__title h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .read__title h2 {
    font-size: 36px;
  }
}
.read__text {
  flex-basis: 50%;
}
.read__text p {
  color: #888888;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1150px) {
  .read__text p {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .read__text p {
    margin-bottom: 50px;
  }
}

.table {
  width: 100%;
}
.table__header {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}
.table__header h3 {
  color: #999999;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 520px) {
  .table__header h3 {
    font-size: 14px;
  }
}
.table__header h3:first-child {
  flex-basis: 60%;
}
@media (max-width: 520px) {
  .table__header h3:first-child {
    flex-basis: 50%;
  }
}
.table__header h3 {
  flex-basis: 20%;
}
@media (max-width: 520px) {
  .table__header h3 {
    flex-basis: 25%;
  }
}
@media (max-width: 764px) {
  .table__header h3:last-child {
    padding-left: 10px;
  }
}
.table__row {
  border-top: 1px solid #dad7d7;
}
.table__row_hidden {
  display: none;
}
.table__row-header {
  padding: 40px 0px;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 764px) {
  .table__row-header {
    padding: 20px 0;
  }
}
.table__row-header h4:first-child {
  flex: 0 0 60%;
  padding-left: 32px;
}
@media (max-width: 764px) {
  .table__row-header h4:first-child {
    padding-left: 5px;
  }
}
@media (max-width: 520px) {
  .table__row-header h4:first-child {
    flex: 0 0 50%;
  }
}
.table__row-header h4:last-child {
  padding-right: 32px;
}
@media (max-width: 764px) {
  .table__row-header h4:last-child {
    padding-right: 0;
    padding-left: 10px;
  }
}
@media (max-width: 350px) {
  .table__row-header h4:last-child {
    padding-right: 0;
    padding-left: 5px;
  }
}
.table__row-header h4 {
  flex: 0 0 20%;
  color: #333333;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 764px) {
  .table__row-header h4 {
    padding-right: 10px;
    font-size: 16px;
  }
}
@media (max-width: 520px) {
  .table__row-header h4 {
    font-size: 14px;
    flex: 0 0 25%;
  }
}
.table__row-text {
  padding: 0px 30px;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 764px) {
  .table__row-text {
    padding: 0px 5px;
  }
}
.table__row-text p:first-child {
  flex-basis: 60%;
  padding-right: 104px;
}
@media (max-width: 900px) {
  .table__row-text p:first-child {
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .table__row-text p:first-child {
    padding-right: 10px;
  }
}
@media (max-width: 520px) {
  .table__row-text p:first-child {
    flex-basis: 50%;
  }
}
.table__row-text p {
  flex-basis: 20%;
  color: #888888;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding-right: 15px;
  padding-bottom: 40px;
}
@media (max-width: 764px) {
  .table__row-text p {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media (max-width: 520px) {
  .table__row-text p {
    font-size: 12px;
  }
}
.table__row_bg h4, .table__row_bg p {
  color: #fff;
}
.table__bg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.table__all {
  text-align: center;
  padding: 40px 0px;
  border-top: 1px solid #dad7d7;
}
@media (max-width: 764px) {
  .table__all {
    padding: 20px 0px 50px 0;
  }
}
@media (max-width: 500px) {
  .table__all {
    padding: 15px 0 50px 0;
  }
}
.table__all a {
  color: #ef443a;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.who-bg {
  background-color: #f6f6f6;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1150px) {
  .who-bg {
    padding-bottom: 90px;
  }
}
@media (max-width: 1100px) {
  .who-bg {
    padding-bottom: 90px;
  }
}
@media (max-width: 768px) {
  .who-bg {
    padding-bottom: 50px;
  }
}

.hr-center {
  top: 6px;
}

.who__main {
  max-width: 400px;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 5;
}
@media (max-width: 1150px) {
  .who__main {
    padding-top: 90px;
    padding-bottom: 50px;
    max-width: 550px;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .who__main {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.who__title h2 {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 53px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
@media (max-width: 1150px) {
  .who__title h2 {
    font-size: 43px;
  }
}
@media (max-width: 768px) {
  .who__title h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
.who__span {
  display: flex;
}
@media (max-width: 1150px) {
  .who__span {
    justify-content: center;
  }
}
.who__span span {
  color: #ef443a;
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: 400;
  margin-left: 9px;
}
.who__text p {
  color: #888888;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1150px) {
  .who__text p {
    font-size: 14px;
  }
}
.who__rhomb-container {
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  left: 52%;
  top: 0;
  padding-top: 500px;
}
@media (max-width: 1150px) {
  .who__rhomb-container {
    position: relative;
    padding-top: 0;
    top: -550px;
    left: 50%;
    margin-bottom: -10px;
    transform: rotate(-45deg) translateX(-50%);
  }
}
@media (max-width: 1050px) {
  .who__rhomb-container {
    top: -500px;
    left: 47%;
  }
}
@media (max-width: 950px) {
  .who__rhomb-container {
    top: -410px;
    left: 45%;
    margin-bottom: 0px;
  }
}
@media (max-width: 850px) {
  .who__rhomb-container {
    top: -360px;
    left: 42%;
  }
}
@media (max-width: 768px) {
  .who__rhomb-container {
    transform: rotate(0) translateY(0);
    position: relative;
    top: 0;
    left: 0;
  }
}
.who__row {
  display: flex;
}
@media (max-width: 768px) {
  .who__row {
    justify-content: center;
  }
}
.who__rhomb {
  width: 115px;
  height: 115px;
  margin: 3px;
  text-align: center;
  position: relative;
  transition: 0.5s all ease;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .who__rhomb {
    border-radius: 10px;
  }
}
@media (max-width: 768px) {
  .who__rhomb {
    margin-right: 10px;
  }
}
@media (max-width: 410px) {
  .who__rhomb {
    width: 110px;
    height: 110px;
    margin-right: 5px;
  }
}
@media (max-width: 370px) {
  .who__rhomb {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 350px) {
  .who__rhomb {
    width: 90px;
    height: 90px;
  }
}
.who__rhomb_transparent {
  background-color: transparent;
}
@media (max-width: 768px) {
  .who__rhomb_transparent {
    width: 0;
    height: 0;
    margin: 0;
  }
}
.who__rhomb_transparent:hover {
  background: transparent;
  transform: scale(0);
}
.who__rhomb-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  min-width: 100%;
  z-index: 5;
}
@media (max-width: 768px) {
  .who__rhomb-info {
    transform: translate(0, -50%) rotate(0);
    top: 50%;
    left: 0;
    right: 0;
  }
}
.who__rhomb-image img {
  max-width: 160px;
}
@media (max-width: 768px) {
  .who__rhomb-image img {
    max-width: 115px;
  }
}
@media (max-width: 410px) {
  .who__rhomb-image img {
    max-width: 100px;
  }
}
@media (max-width: 350px) {
  .who__rhomb-image img {
    max-width: 90px;
  }
}
.who__rhomb-image a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}
.who__rhomb-text {
  position: absolute;
  top: -105%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 64, 53, 0.8);
  transition: 0.4s all ease;
}
@media (max-width: 768px) {
  .who__rhomb-text {
    top: auto;
    bottom: 0;
    height: auto;
    border-radius: 10px;
  }
}
.who__rhomb:hover .who__rhomb-text {
  top: 50%;
}
@media (max-width: 768px) {
  .who__rhomb:hover .who__rhomb-text {
    top: auto;
  }
}
.who__rhomb-text h4 {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 14px;
}
@media (max-width: 768px) {
  .who__rhomb-text h4 {
    margin-top: 5px;
  }
}
@media (max-width: 380px) {
  .who__rhomb-text h4 {
    font-size: 12px;
  }
}
.who__rhomb-text h5 {
  color: #ffffff;
  font-family: "Merriweather";
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;
}
@media (max-width: 768px) {
  .who__rhomb-text h5 {
    font-size: 10px;
    padding-bottom: 5px;
  }
}

/* .who-bg {
   background-color: #f6f6f6;
   min-height: 100vh;
}

.hr-center {
   top: 6px;
}

.who {
   &__main {
      max-width: 400px;
      position: absolute;
      top: 50vh;
      transform: translate(0, -50%);
   }

   &__title h2 {
      color: #333333;
      font-family: "Open Sans", sans-serif;
      font-size: 53px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 30px;
   }

   &__span {
      display: flex;
   }

   &__span span {
      color: #ef443a;
      font-family: "Merriweather";
      font-size: 14px;
      font-weight: 400;
      margin-left: 9px;
   }

   &__text p {
      color: #888888;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
   }

   &__rhomb-container {
      transform: rotate(-45deg) translate(0, -50%);
      position: absolute;
      right: -150px;
      top: 50vh;
   }

   &__row {
      display: flex;
   }

   &__rhomb {
      width: 160px;
      height: 160px;
      margin: 3px;
      text-align: center;
      position: relative;
      transition: 0.5s all ease;
      overflow: hidden;
   }

   &__rhomb_transparent {
      background-color: transparent;
   }

   &__rhomb_transparent:hover {
      background: transparent;
      transform: scale(0);
   }

   &__rhomb-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      min-width: 100%;
   }

   &__rhomb-image img {
      max-width: 225px;
   }

   &__rhomb-image a {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
   }

   &__rhomb-text {
      position: absolute;
      top: -100%;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(239, 64, 53, 0.8);
      transition: 0.4s all ease;
   }

   &__rhomb:hover &__rhomb-text {
      top: 50%;
   }

   &__rhomb-text h4 {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 14px;
   }

   &__rhomb-text h5 {
      color: #ffffff;
      font-family: "Merriweather";
      font-size: 13px;
      font-weight: 400;
      margin-top: 3px;
   }
}
 */
.slow-bg {
  background-color: #28282e;
  padding: 150px 0;
}
@media (max-width: 764px) {
  .slow-bg {
    padding: 50px 0;
  }
}

.slow__info {
  margin: 0 auto;
  max-width: 655px;
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 764px) {
  .slow__info {
    margin-bottom: 35px;
  }
}
.slow__title h2 {
  color: #f6f6f6;
  font-family: "Merriweather";
  font-size: 39px;
  font-weight: 400;
  margin-bottom: 60px;
}
@media (max-width: 764px) {
  .slow__title h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
.slow__text p {
  color: #f6f6f6;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.slider__item {
  max-height: 460px;
  overflow: hidden;
  text-align: center;
}
.slider__item img {
  overflow: hidden;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Точки (булиты) */
.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 764px) {
  .slick-dots {
    margin-top: 30px;
  }
}

.slick-dots li {
  margin-right: 40px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #fff;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #1e1e20;
  border-radius: 50%;
}

.sub-slow {
  background-color: #ef4035;
}

.sub-slow h2 {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  padding: 50px 0;
  text-align: center;
}
@media (max-width: 764px) {
  .sub-slow h2 {
    padding: 30px 0;
  }
}

footer {
  background-color: #28282e;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  padding: 70px 0;
}
@media (max-width: 768px) {
  .footer {
    padding: 25px 0;
  }
}
.footer__row {
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
@media (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__row:first-child {
  margin-right: 10%;
}
@media (max-width: 450px) {
  .footer__row:first-child {
    margin-right: 10px;
  }
}

.footer p,
.footer a,
.footer address {
  color: #76767b;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  transition: all 0.4s ease;
}

.footer a:hover {
  color: #ceced3;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.hr {
  position: relative;
  width: 20px;
  height: 1px;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .hr {
    display: none;
  }
}

.hr_black {
  position: relative;
  width: 20px;
  height: 1px;
  margin-bottom: 40px;
}
@media (max-width: 1150px) {
  .hr_black {
    display: none;
  }
}

.hr_black::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.hr::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
}